html {
    --primary-color: var(--vscode-editor-foreground);
    --accent-color: var(--vscode-focusBorder);
    --code-background-color: var(--vscode-textCodeBlock-background);
    --error-color: var(--vscode-errorForeground);
    --code-color: var(--vscode-editor-foreground);
    --link-color: var(--vscode-textLink-foreground);
    --arc-font-code-family: var(--vscode-editor-font-family);

    --inline-code-padding: 0.1em 0.4em;
    /*--inline-code-border: 1px solid #cccccc;*/

    --api-console-menu-background-color: var(--vscode-menu-background);
    --authorization-method-oauth2-redirect-info-background-color: var(--code-background-color);

    --api-summary-chip-background-color: var(--code-background-color);
    --api-summary-chip-color: var(--code-color);

    --api-method-documentation-bottom-navigation-color: var(--link-color);
    --api-endpoint-documentation-bottom-navigation-color: var(--link-color);

    --api-console-toolbar-background-color: var(--vscode-menu-background);
    --api-console-toolbar-color: var(--vscode-menu-foreground);

    --api-example-background-color: var(--vscode-editor-background);

    --code-mirror-font-family: var(--vscode-editor-font-family);
    --code-mirror-background-color: var(--vscode-editor-background);
    --code-mirror-color: var(--primary-color);
    --code-mirror-gutters-border-right-color: transparent;
    --code-mirror-gutters-background-color: var(--vscode-editor-background);
    --code-mirror-cursor-color: var(--vscode-editorCursor-foreground);
    --code-mirror-height: 50px;
    --code-mirror-line-number-color: var(--vscode-editorLineNumber-foreground);

    --code-property-value-color: var(--vscode-debugTokenExpression-boolean);
    --code-operator-value-background-color: transparent;
    --code-operator-value-color: var(--primary-color);
    --code-type-number-value-color: var(--vscode-debugTokenExpression-number);
    --code-type-text-value-color: var(--vscode-debugTokenExpression-string);
    --code-punctuation-value-color: var(--primary-color);
    --code-function-value-color: var(--vscode-debugTokenExpression-boolean);
    --code-type-boolean-value-color: var(--vscode-debugTokenExpression-boolean);
    --code-keyword-value-color: var(--vscode-debugTokenExpression-boolean);

    --http-code-snippet-code-keyword-color: var(--vscode-debugTokenExpression-boolean);
    --http-code-snippet-code-function-color: var(--vscode-debugTokenExpression-boolean);
    --http-code-snippet-code-cdata-color: var(--vscode-debugTokenExpression-value);
    --http-code-snippet-code-text-shadow: none;

    --code-mirror-string-color: var(--vscode-debugTokenExpression-string);
    --code-mirror-number-color: var(--vscode-debugTokenExpression-number);
    --code-mirror-atom-color: var(--vscode-debugTokenExpression-boolean);
    --code-mirror-punctuation-color: var(--primary-color);
    --code-mirror-variable-color: var(--primary-color);
    --code-mirror-selected-background-color: var(--vscode-editor-selectionBackground);
    --code-mirror-focused-selected-background-color: var(--vscode-editor-selectionBackground);

    --markdown-styles-code-text-shadow: none;
    --markdown-styles-code-selection-background-color: var(--vscode-editor-selectionBackground);
    --prism-container-selection-background-color: var(--vscode-editor-selectionBackground);
    --http-code-snippet-code-selection-background-color: var(--vscode-editor-selectionBackground);

    --api-summary-separator-color: var(--vscode-textSeparator-foreground);
    --api-parameters-document-title-border-color: var(--vscode-textSeparator-foreground);
    --api-headers-document-title-border-color: var(--vscode-textSeparator-foreground);
    --api-body-document-title-border-color: var(--vscode-textSeparator-foreground);
    --api-method-documentation-bottom-navigation-border-color: var(--vscode-textSeparator-foreground);
    --raml-type-form-input-array-border-color: var(--vscode-textSeparator-foreground);
    --json-table-item-border-bottom-color: var(--vscode-textSeparator-foreground);
    --property-shape-document-border-bottom-color: var(--vscode-textSeparator-foreground);
    --response-tabs-border-color: var(--vscode-textSeparator-foreground);
    --api-responses-document-codes-selector-divider-border-bottom-color: var(--vscode-textSeparator-foreground);

    --json-table-complex-name-label-color: var(--vscode-descriptionForeground);
    --json-table-array-body-color: var(--primary-color);
    --json-table-array-header-color: var(--vscode-descriptionForeground);
    --anypoint-button-disabled-color: var(--vscode-descriptionForeground);

    --anypoiont-dropdown-shaddow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
    --anypoiont-autocomplete-dropdown-shaddow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);

    --anypoint-input-background-color: var(--vscode-input-background);
    --anypoint-input-input-color: var(--vscode-input-foreground);
    --anypoint-input-info-message-color: var(--vscode-editorInfo-foreground);
    --anypoint-input-label-color: var(--vscode-input-placeholderForeground);
    --anypoint-switch-color: var(--vscode-settings-checkboxBackground);
    --anypoint-switch-button-color: var(--vscode-settings-checkboxForeground);
    --anypoint-switch-active-color: var(--accent-color);
    --anypoint-dropdown-menu-background-color: var(--vscode-input-background);
    --anypoint-dropdown-menu-label-color: var(--vscode-input-placeholderForeground);
    --anypoint-dropdown-menu-trigger-icon-active-color: var(--vscode-icon-foreground);
    --anypoint-dropdown-menu-hover-border-color: var(--accent-color);
    --anypoint-listbox-background-color: var(--vscode-input-background);
    --anypoint-item-hover-background-color: var(--vscode-inputOption-activeBackground);
    --anypoint-item-focused-background-color: var(--vscode-inputOption-activeBackground);
    --anypoint-item-before-opacity: 0;

    --anypoint-icon-button-color: var(--vscode-icon-foreground);
    --anypoint-icon-button-emphasis-low-hover-background-color: var(--vscode-toolbar-hoverBackground, transparent);
    --anypoint-icon-button-emphasis-low-focus-background-color: var(--vscode-toolbar-activeBackground, transparent);
    --anypoint-icon-button-emphasis-low-color: var(--vscode-icon-foreground);

    --anypoint-button-background-color: transparent;
    --anypoint-button-color: var(--primary-color);
    --anypoint-button-emphasis-low-hover-background-color: transparent;
    --anypoint-button-emphasis-low-focus-background-color: transparent;
    --anypoint-button-emphasis-low-focus-color: var(--primary-color);

    --anypoint-button-emphasis-high-hover-background-color: var(--vscode-button-hoverBackground, transparent);
    --anypoint-button-emphasis-high-background-color: var(--vscode-button-background, transparent);
    --anypoint-button-emphasis-high-color: var(--vscode-button-foreground);

    --anypoint-button-emphasis-medium-hover-background-color: transparent;
    --anypoint-button-emphasis-medium-focus-border-color: var(--vscode-contrastBorder, var(--primary-color));
    --anypoint-button-emphasis-medium-focus-color: var(--primary-color);

    --api-resource-example-document-button-active-background-color: var(--vscode-button-background, transparent);
    --api-resource-example-document-button-active-color: var(--vscode-button-foreground);

    --api-body-document-media-button-border-color: transparent;
    --api-type-document-media-button-border-color: transparent;
    --api-type-document-union-button-color: var(--vscode-button-secondaryForeground);
    --api-type-document-union-button-background-color: var(--vscode-button-secondaryBackground, transparent);
    --api-type-document-union-button-active-color: var(--vscode-button-secondaryForeground);
    --api-type-document-union-button-active-background-color: var(--vscode-button-hoverBackground, transparent);

    --api-type-document-type-attribute-color: var(--primary-color);
    --api-method-documentation-description-color: var(--primary-color);
    --api-body-document-description-color: var(--primary-color);
    --authorization-method-oauth2-redirect-info-color: var(--primary-color);
    --api-endpoint-documentation-description-color: var(--primary-color);
    --api-console-menu-color: var(--primary-color);
    --api-method-documentation-operation-id-color: var(--primary-color);
    --api-type-document-property-name-color: var(--primary-color);
    --api-type-document-property-title-secondary-color: var(--primary-color);
    --json-table-list-property-name-color: var(--primary-color);
    --no-info-message-color: var(--primary-color);
    --multipart-file-form-item-counter-color: var(--primary-color);

    --inline-documentation-background-color: transparent;
    --inline-documentation-color: var(--primary-color);

    --response-code-line-numbers-border-color: transparent;
    --response-code-toggle-line-border-color: var(--primary-color);

    --response-status-view-request-url-background-color: var(--code-background-color);
    --response-status-view-request-url-color: var(--code-color);
    --response-code-line-numbers-color: var(--vscode-editorLineNumber-foreground);

    --api-type-document-trait-background-color: var(--vscode-button-secondaryHoverBackground, transparent);
    --api-type-document-trait-color: var(--vscode-button-secondaryForeground, var(--primary-color));
    --api-type-document-type-background-color: var(--vscode-button-hoverBackground, transparent);
    --api-type-document-type-color: var(--vscode-button-foreground, var(--primary-color));

    --arc-font-body1-font-size: var(--vscode-font-size);
    --arc-font-body1-font-weight: var(--vscode-font-weight);
    --arc-font-body1-line-height: 1.2;

    --arc-font-body2-font-size: 125%;
    --arc-font-body2-font-weight: 500;
    --arc-font-body2-line-height: 1.2;

    --arc-font-headline-font-size: 250%;
    --arc-font-headline-font-weight: 400;
    --arc-font-headline-letter-spacing: -.012em;
    --arc-font-headline-line-height: 1.2;

    --arc-font-title-font-size: 175%;
    --arc-font-title-font-weight: 500;
    --arc-font-title-line-height: 1.2;

    --arc-font-subhead-font-size: 150%;
    --arc-font-subhead-font-weight: 400;
    --arc-font-subhead-line-height: 1.2;

    --api-navigation-list-item-selected-background-color: var(--vscode-toolbar-activeBackground, transparent);
    --api-navigation-list-item-selected-color: var(--primary-color);
    --api-navigation-section-title-focus-background-color: var(--vscode-toolbar-hoverBackground, transparent);
    --api-navigation-operation-font-size: 13px;
    --dark-divider-opacity: 0.1;

    /* Custom styles defined in @api-components/http-method-label/CommonStyles.js*/
    --http-method-label-font-size: 11px;
    --http-method-label-min-width: 39px;
    --http-method-label-text-align: center;
    --api-method-documentation-http-method-label-font-size: calc(var(--http-method-label-font-size) + 6px);
    --api-method-documentation-http-method-label-min-width: calc(var(--http-method-label-min-width) + 17px);

    --apic-tryit-wide-border-color: var(--vscode-contrastBorder, transparent);
    --apic-powered-by-border-color: var(--vscode-contrastBorder, var(--vscode-textSeparator-foreground));
    --apic-drawer-content-wrapper-border-color: var(--vscode-contrastBorder, transparent);
    --apic-app-header-border-color: var(--vscode-contrastBorder, transparent);

    /* --api-body-document-media-button-background-color: #2196F3; */
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--vscode-font-family, 'Roboto', 'Noto', sans-serif);
    font-size: var(--vscode-font-size);
    font-weight: var(--vscode-font-weight);
    color: var(--primary-color);
    background: var(--vscode-editor-background);
    height: 100%;
}

body.vscode-light {
    --http-get-color: rgb(0, 128, 0);
    --http-post-color: rgb(33, 150, 243);
    --http-put-color: rgb(255, 165, 0);
    --http-patch-color: rgb(156, 39, 176);
    --http-delete-color: rgb(244, 67, 54);
    --http-options-color: rgb(128, 128, 128);
    --http-head-color: rgb(128, 128, 128);
    --http-connect-color: rgb(128, 128, 128);
    --http-trace-color: rgb(128, 128, 128);
    --http-method-label-get-background-color: var(--http-get-color);
    --http-method-label-get-color: #fff;
    --http-method-label-post-background-color: var(--http-post-color);
    --http-method-label-post-color: #fff;
    --http-method-label-patch-background-color: var(--http-patch-color);
    --http-method-label-patch-color: #fff;
    --http-method-label-put-background-color: var(--http-put-color);
    --http-method-label-put-color: #fff;
    --http-method-label-delete-background-color: var(--http-delete-color);
    --http-method-label-delete-color: #fff;
    --http-method-label-options-background-color: var(--http-options-color);
    --http-method-label-options-background-color: #fff;
    --http-method-label-head-background-color: var(--http-head-color);
    --http-method-label-head-background-color: #fff;
    --http-method-label-trace-background-color: var(--http-trace-color);
    --http-method-label-trace-background-color: #fff;
    --http-method-label-connect-background-color: var(--http-connect-color);
    --http-method-label-connect-background-color: #fff;
}

/* TODO: Probably improve high contrast HTTP labels */
body.vscode-dark,
body.vscode-high-contrast {
    --http-get-color: rgba(0, 128, 0, 0.74);
    --http-post-color: rgba(33, 150, 243, 0.74);
    --http-put-color: rgba(255, 165, 0, 0.74);
    --http-patch-color: rgb(156, 39, 176);
    --http-delete-color: rgba(244, 67, 54, 0.74);
    --http-options-color: rgba(128, 128, 128, 0.74);
    --http-head-color: rgba(128, 128, 128, 0.74);
    --http-connect-color: rgba(128, 128, 128, 0.74);
    --http-trace-color: rgba(128, 128, 128, 0.74);
    --http-method-label-get-background-color: var(--http-get-color);
    --http-method-label-get-color: #fff;
    --http-method-label-post-background-color: var(--http-post-color);
    --http-method-label-post-color: #fff;
    --http-method-label-patch-background-color: var(--http-patch-color);
    --http-method-label-patch-color: #fff;
    --http-method-label-put-background-color: var(--http-put-color);
    --http-method-label-put-color: #fff;
    --http-method-label-delete-background-color: var(--http-delete-color);
    --http-method-label-delete-color: #fff;
    --http-method-label-options-background-color: var(--http-options-color);
    --http-method-label-options-background-color: #fff;
    --http-method-label-head-background-color: var(--http-head-color);
    --http-method-label-head-background-color: #fff;
    --http-method-label-trace-background-color: var(--http-trace-color);
    --http-method-label-trace-background-color: #fff;
    --http-method-label-connect-background-color: var(--http-connect-color);
    --http-method-label-connect-background-color: #fff;
}

.drawer-content-wrapper {
    color: var(--vscode-menu-foreground);
}

.CodeMirror {
    color: var(--code-mirror-color);
    background-color: var(--code-mirror-background-color);
}

.CodeMirror-code {
    font-family: var(--vscode-editor-font-family);
}

#loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--vscode-editor-background);
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--primary-color);
    border-color: var(--primary-color) transparent var(--primary-color) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}